// COLORS

$color-black:           #000;       // Black
$color-white:           #fff;       // White
$color-gray-dark-1:     #777;       // Dark Gray
$color-gray-dark-2:     #999;       // Darker Gray
$color-gray-dark-3:     #333;       // Darkest Gray   
$color-gray-light-1:    #f7f7f7;    // Light Gray
$color-gray-light-2:    #eee;       // Lighter Gray
$color-midnight-light:  #414345;    // Midnight Light
$color-midnight-dark:   #232526;    // Midnight Dark
$color-red:             #dd1818;    // Pure Lust Red



// FONT

$default-font-size:     1.6rem;



// Grid:

$grid-width:        114rem;
$gutter-vertical:   4rem;
$gutter-horizontal: 6rem;