// Header Styling

.header {
    height: 100vh;
    background-size: cover;
    background-position: top center;
    position: relative;

    &__home {
        background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/main-page-medium-2x.jpg);

        @include respond (tab-land) {
            background-position-x: 76%;
        }

        @include respond (tab-port) {
            background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/main-page-small-1x.jpg);
            background-position-x: 78%;
        }

        @include respond (phone) {
            height: 50vh;
            background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/main-page-smaller-1x.jpg);
            background-position-x: 75%;
        }
    }

    &__faq {
        background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/about-us-medium-1x.jpg);
        background-repeat: no-repeat;
        background-position-y: 25%;

        @include respond (tab-land) {
            // height: 95vh;
        }

        @include respond (phone) {
            height: 70vh;
            background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/about-us-small-1x.jpg);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%) !important;
            clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%) !important;
        }
    }

    &__testimonials {
        background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/scrolling-1-medium-1x.jpg);
        background-repeat: no-repeat;
        background-position-y: 45%;

        @include respond (tab-land) {
            height: 95vh;
        }

        @include respond (phone) {
            height: 70vh;
            background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/scrolling-1-small-1x.jpg);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%) !important;
            clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%) !important;
        }
    }

    &__training {
        background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/training-medium-1x.jpg);
        background-repeat: no-repeat;
        background-position-y: 35%;

        @include respond (tab-land) {
            height: 95vh;
            background-position-y: 45%;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 79vh, 0 100%) !important;
            clip-path: polygon(0 0, 100% 0, 100% 79vh, 0 100%) !important;
        }

        @include respond (tab-port) {
            height: 90vh;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%) !important;
            clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%) !important;
            margin-bottom: 9rem;
        }

        @include respond (phone) {
            height: 70vh;
            background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/training-small-1x.jpg);
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%) !important;
            clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%) !important;
        }
    }

    &__contact {
        background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/contact-us-medium-1x.jpg);
        background-repeat: no-repeat;
        background-position-y: 40%;

        @include respond (tab-land) {
            // height: 95vh;
        }

        @include respond (phone) {
            height: 70vh;
            background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/contact-us-small-1x.jpg);
            background-position-y: 55%;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%) !important;
            clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%) !important;
        }
    }

    &__thanks {
        background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/contact-us-medium-1x.jpg);
        background-repeat: no-repeat;
        background-position-y: 40%;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        @include respond (tab-land) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
        }

        @include respond (tab-port) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
        }

        @include respond (phone) {
            height: 70vh;
            background-image: linear-gradient(to right bottom, rgba($color-midnight-dark, 0.7) 38%, rgba($color-midnight-light, 0.7) 125%), url(../../images/contact-us-small-1x.jpg);
            background-position-y: 55%;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
        }
    }

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 82vh, 0 100%);

    @include respond (tab-port) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    }

    @include respond (phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 42vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 42vh, 0 100%);
    }

    &__text-box {
        position: absolute;
        top:    40%;
        left:   50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @include respond (phone) {
            top: 50%;
        }
    }
}