.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.5rem;
    width: 100vw;
    padding: 0 10vw;
    color: #000;
    z-index: 1;
    transition: all .3s;

    a, 
    label {
        text-decoration: none;
        color: $color-white;
        text-transform: uppercase;
    }

    .nav__links {
        display: flex;
        list-style: none;
        position: relative;

        &--link {
            transition: opacity .4s ease-in-out, transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:nth-of-type(2) {
                transition-delay: .1s;
            }
            &:nth-of-type(3) {
                transition-delay: .2s;
            }
            &:nth-of-type(4) {
                transition-delay: .3s;
            }

            a,
            label {
                margin: .2rem;
                padding: 1rem 2.5rem;
                transition: all .3s ease-in-out;

                &:hover {
                    background: rgba(255, 255, 255, 0.2)
                }
            }

            &-1:hover ul {
                display: block;
                background: rgba($color-black, 0.85);
            }

            .dropdown {
                display: none;
                list-style: none;
                position: absolute;
                margin-top: .8rem;
                padding-left: .38rem;
                padding-right: .38rem;
    
                &__link {
                    margin-top: 2.5rem;
                    padding: 1.5rem 0;
                    text-align: center;
                }
            }
        }

    }

    .menu__icon {
        position: relative;
        padding: 2.6rem 1rem;
        cursor: pointer;
        z-index: 1;
        display: none;

        &-line {
            display: block;
            position: relative;
            background: $color-white;
            height: .2rem;
            width: 2rem;
            border-radius: .4rem;
            transition: background .8s ease-in-out;

            &::before,
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: .4rem;
                background: $color-white;
                transition: background .8s ease;
            }

            &::before {
                transform: translateY(-.5rem);
            }

            &::after {
                transform: translateY(.5rem);
            }
        }
    }

    .menu__btn,
    .about__btn {
        display: none;
    }

    &.scrolled {
        height: 5.5rem;
        background: rgba($color-black, 0.85);
        color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        .menu__icon {
            &__line,
            &__line::before,
            &__line::after {
                background: $color-white;
            }
        }
    }
}