.section-small-group {
    padding: 28rem 0;
    margin-top: -20vh;

    @include respond (tab-port) {
        padding: 22rem 0;
    }

    .row {
        @include respond (tab-port) {
            margin-bottom: 2rem;
        }
    }
}

.section-private {
    padding: 20rem 0;
    background-image: linear-gradient(to right, rgba($color-orange-light-1, 0.7), rgba($color-orange, 0.7)), url(../../images/main-page-medium-1x.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -9rem;

    @include respond (tab-port) {
        padding: 10rem 0;
        transform: skewY(-5.5deg);
    }

    @include respond (phone) {
        height: 75vh;
        transform: skewY(-9.5deg);
        background-image: linear-gradient(to right, rgba($color-orange-light-1, 0.7), rgba($color-orange, 0.7)), url(../../images/main-page-smaller-1x.jpg);
        background-position-y: 45%;
        background-position-x: 75%;
    }

    .row {
        @include respond (tab-port) {
            margin-bottom: 2rem;
        }
    }

    & > * {
        transform: skewY(7deg);

        @include respond (tab-port) {
            transform: skewY(5.5deg);
        }

        @include respond (phone) {
            transform: skewY(9.5deg);
        }
    }
}

.section-duo {
    padding: 20rem 0;

    @include respond (tab-port) {
        padding: 10rem 0;
    }

    .row {
        @include respond (tab-port) {
            margin-bottom: 2rem;
        }
    }
}