.section-small-group {
    padding: 28rem 0;
    margin-top: -20vh;
}

.section-private {
    padding: 20rem 0;
    background-image: linear-gradient(to right, rgba($color-gray-dark-3, 0.9), rgba($color-red, 0.9));
    transform: skewY(-7deg);
    margin-top: -9rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-duo {
    padding: 20rem 0;
}