.slick-slider {
    // background: transparent;
    // box-shadow: 0 1rem 2rem rgba($color-black,.15);
}

.slick-prev:before,
.slick-next:before {
    color: $color-midnight-dark;
}

.carousel__slide-pic {
    max-width: 100%;
    max-height: 100%;
}