.footer {
  background-image: linear-gradient(to right, #232526, #414345);
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__text-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .footer__text-box {
        margin-bottom: 6rem; } }
  .footer-primary {
    width: 15rem;
    height: auto;
    display: inline-block; }
  .footer__navigation {
    border-top: 1px solid #999;
    padding-top: 2rem;
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    -webkit-background-clip: text;
    color: #dd1818;
    filter: drop-shadow(1px 2px 3px black);
    transform: scale(1.1); }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__copyright {
    border-top: 1px solid #999;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }
  .footer__socials {
    display: inline-block; }
    @media (max-width: 56.25em) {
      .footer__socials {
        width: 100%;
        text-align: center; } }
    .footer__socials-list {
      list-style: none; }
    .footer__socials-item {
      display: inline-block;
      width: 15%; }
    .footer__socials-icon {
      width: 100%;
      transition: all .2s; }
      .footer__socials-icon:hover, .footer__socials-icon:active {
        filter: drop-shadow(1px 2px 3px black);
        transform: scale(1.1); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  @media (max-width: 75em) {
    .row {
      padding: 0 4rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 70rem;
      padding: 0 4rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100%  !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__home {
    background-image: linear-gradient(to right bottom, rgba(35, 37, 38, 0.7) 38%, rgba(65, 67, 69, 0.7) 125%), url(../../images/man-and-woman-holding-battle-ropes-1552242.jpg); }
  .header__faq, .header__testimonials, .header__training, .header__contact {
    background-image: linear-gradient(to right bottom, #232526, #414345); }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 86vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 86vh, 0 100%); } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  width: 100vw;
  padding: 0 10vw;
  color: #000;
  z-index: 1;
  transition: all .3s; }
  .navbar a,
  .navbar label {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; }
  .navbar .nav__links {
    display: flex;
    list-style: none;
    position: relative; }
    .navbar .nav__links--link {
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .navbar .nav__links--link:nth-of-type(2) {
        transition-delay: .1s; }
      .navbar .nav__links--link:nth-of-type(3) {
        transition-delay: .2s; }
      .navbar .nav__links--link:nth-of-type(4) {
        transition-delay: .3s; }
      .navbar .nav__links--link a,
      .navbar .nav__links--link label {
        margin: .2rem;
        padding: 1rem 2.5rem;
        transition: all .3s ease-in-out; }
        .navbar .nav__links--link a:hover,
        .navbar .nav__links--link label:hover {
          background: rgba(255, 255, 255, 0.2); }
      .navbar .nav__links--link-1:hover ul {
        animation: smoothAppear .8s forwards;
        display: block;
        background: rgba(0, 0, 0, 0.85); }
      .navbar .nav__links--link .dropdown {
        display: none;
        border-radius: 3px;
        list-style: none;
        position: absolute;
        margin-top: .8rem;
        padding-left: .38rem;
        padding-right: .38rem; }
        .navbar .nav__links--link .dropdown__link {
          margin-top: .6rem;
          padding: 1.5rem 0;
          text-align: center; }
  .navbar .menu__icon {
    position: relative;
    padding: 2.6rem 1rem;
    cursor: pointer;
    z-index: 1;
    display: none; }
    .navbar .menu__icon-line {
      display: block;
      position: relative;
      background: #fff;
      height: .2rem;
      width: 2rem;
      border-radius: .4rem;
      transition: background .8s ease-in-out; }
      .navbar .menu__icon-line::before, .navbar .menu__icon-line::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: .4rem;
        background: #fff;
        transition: background .8s ease; }
      .navbar .menu__icon-line::before {
        transform: translateY(-0.5rem); }
      .navbar .menu__icon-line::after {
        transform: translateY(0.5rem); }
  .navbar .menu__btn,
  .navbar .about__btn {
    display: none; }
  .navbar.scrolled {
    height: 5.5rem;
    background: rgba(0, 0, 0, 0.95);
    color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.35); }
    .navbar.scrolled .menu__icon__line, .navbar.scrolled .menu__icon__line::before, .navbar.scrolled .menu__icon__line::after {
      background: #fff; }

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes openMid {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes closedMid {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes smoothAppear {
  0% {
    transform: translateY(5px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #eee; }

@media screen and (max-width: 900px) {
  .navbar .menu__icon {
    display: block; }
    .navbar .menu__icon-line {
      animation: closedMid .8s backwards;
      animation-direction: reverse; }
      .navbar .menu__icon-line::before {
        animation: closedTop .8s backwards;
        animation-direction: reverse; }
      .navbar .menu__icon-line::after {
        animation: closedBtm .8s backwards;
        animation-direction: reverse; }
  .navbar .nav__links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 3rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.95);
    transition: opacity .8s .2s, clip-path 1s .2s;
    clip-path: polygon(75% 0, 100% 0, 100% 25%, 75% 25%); }
    .navbar .nav__links--link {
      opacity: 0;
      transform: translateX(100%);
      width: 100%;
      text-align: center; }
      .navbar .nav__links--link a {
        display: block;
        padding: 2rem 0; }
      .navbar .nav__links--link-1 ul {
        width: 100vw; }
        .navbar .nav__links--link-1 ul .dropdown__link {
          padding: .7rem; }
      .navbar .nav__links--link .about__btn {
        display: none; }
  .navbar .menu__btn:checked ~ .nav__links {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    .navbar .menu__btn:checked ~ .nav__links .nav__links--link {
      opacity: 1;
      transform: translate(0, 0);
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .navbar .menu__btn:checked ~ .nav__links .nav__links--link:nth-of-type(1) {
        transition-delay: .7s; }
      .navbar .menu__btn:checked ~ .nav__links .nav__links--link:nth-of-type(2) {
        transition-delay: .8s; }
      .navbar .menu__btn:checked ~ .nav__links .nav__links--link:nth-of-type(3) {
        transition-delay: .9s; }
      .navbar .menu__btn:checked ~ .nav__links .nav__links--link:nth-of-type(4) {
        transition-delay: 1s; }
      .navbar .menu__btn:checked ~ .nav__links .nav__links--link .dropdown {
        background: transparent; }
        .navbar .menu__btn:checked ~ .nav__links .nav__links--link .dropdown .dropdown__link {
          opacity: 1;
          margin-top: 2.5rem;
          padding: 1.5rem 0;
          transform: translate(90rem, 0);
          transition: opacity 0.4s ease-in-out, transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
          .navbar .menu__btn:checked ~ .nav__links .nav__links--link .dropdown .dropdown__link:nth-of-type(1) {
            transition-delay: .5s; }
          .navbar .menu__btn:checked ~ .nav__links .nav__links--link .dropdown .dropdown__link:nth-of-type(2) {
            transition-delay: .6s; }
          .navbar .menu__btn:checked ~ .nav__links .nav__links--link .dropdown .dropdown__link.after {
            transform: translate(0, 0); }
      .navbar .menu__btn:checked ~ .nav__links .nav__links--link.translate__y {
        transform: translate(0, 80rem); }
        .navbar .menu__btn:checked ~ .nav__links .nav__links--link.translate__y:nth-of-type(2) {
          transition-delay: .3s; }
        .navbar .menu__btn:checked ~ .nav__links .nav__links--link.translate__y:nth-of-type(3) {
          transition-delay: .2s; }
        .navbar .menu__btn:checked ~ .nav__links .nav__links--link.translate__y:nth-of-type(4) {
          transition-delay: .1s; }
  .navbar .menu__btn:checked ~ .menu__icon .menu__icon-line {
    animation: openMid .8s forwards; }
    .navbar .menu__btn:checked ~ .menu__icon .menu__icon-line::before {
      animation: openTop .8s forwards; }
    .navbar .menu__btn:checked ~ .menu__icon .menu__icon-line::after {
      animation: openBtm .8s forwards; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  text-transform: uppercase;
  font-weight: 300;
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-family: 5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #333, #dd1818);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-secondary-white {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  letter-spacing: 2px; }
  @media (max-width: 56.25em) {
    .heading-secondary-white {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary-white {
      font-size: 2.5rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph-white {
    color: #fff; }
  .paragraph:not(:last-child) {
    margin-bottom: 30px; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--red {
  background-color: #dd1818;
  color: #fff; }
  .btn--red::after {
    background-color: #dd1818; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #dd1818;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #dd1818;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #dd1818;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input-message {
    height: 20rem; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #dd1818; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.slick-prev:before,
.slick-next:before {
  display: none; }

.carousel__slide-pic {
  max-width: 100%;
  max-height: 100%; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      transform: skew(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-3rem) skew(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.3);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skew(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.section-contact-form {
  padding: 28rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-contact-form {
      padding: 14rem 0;
      margin-top: -5vh; } }

.book {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../images/close-up-of-crossfit-battle-ropes-4164516.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  height: 90rem; }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 30%), url(../../images/close-up-of-crossfit-battle-ropes-4164516.jpg);
      background-size: cover;
      height: 95rem; } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../../images/close-up-of-crossfit-battle-ropes-4164516.jpg);
      background-size: cover; } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        height: 50%;
        width: 70%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }

.section-questions {
  padding: 28rem 0;
  margin-top: -20vh; }

.section-introduction {
  padding: 28rem 0;
  margin-top: -20vh; }

.section-testimonials {
  padding: 28rem 0;
  margin-top: -20vh; }

.section-small-group {
  padding: 28rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-small-group {
      padding: 22rem 0; } }
  @media (max-width: 56.25em) {
    .section-small-group .row {
      margin-bottom: 2rem; } }

.section-private {
  padding: 20rem 0;
  background-image: linear-gradient(to right, rgba(51, 51, 51, 0.9), rgba(221, 24, 24, 0.9));
  transform: skewY(-7deg);
  margin-top: -9rem; }
  @media (max-width: 56.25em) {
    .section-private {
      padding: 10rem 0;
      transform: skewY(-5.5deg); } }
  @media (max-width: 56.25em) {
    .section-private .row {
      margin-bottom: 2rem; } }
  .section-private > * {
    transform: skewY(7deg); }
    @media (max-width: 56.25em) {
      .section-private > * {
        transform: skewY(5.5deg); } }

.section-duo {
  padding: 20rem 0; }
  @media (max-width: 56.25em) {
    .section-duo {
      padding: 10rem 0; } }
  @media (max-width: 56.25em) {
    .section-duo .row {
      margin-bottom: 2rem; } }
