.header {
  height: 95vh;
  background-image: linear-gradient(to right, #232526, #414345);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.5rem;
  width: 100vw;
  padding: 0 10vw;
  color: #000;
  z-index: 1;
  transition: all .3s; }
  .navbar a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; }
  .navbar .nav__links {
    display: flex;
    list-style: none;
    position: relative; }
    .navbar .nav__links--link {
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .navbar .nav__links--link:nth-of-type(2) {
        transition-delay: .1s; }
      .navbar .nav__links--link:nth-of-type(3) {
        transition-delay: .2s; }
      .navbar .nav__links--link:nth-of-type(4) {
        transition-delay: .3s; }
      .navbar .nav__links--link a {
        margin: .2rem;
        padding: 1rem 2.5rem; }
        .navbar .nav__links--link a:hover {
          background: rgba(255, 255, 255, 0.2); }
      .navbar .nav__links--link-1:hover ul {
        display: block; }
    .navbar .nav__links .dropdown {
      display: none;
      list-style: none;
      position: absolute;
      background: rgba(0, 0, 0, 0.85);
      margin-top: .8rem;
      padding-left: .38rem;
      padding-right: .38rem; }
      .navbar .nav__links .dropdown__link {
        padding: 1.5rem 0;
        text-align: center; }
  .navbar .menu__icon {
    position: relative;
    padding: 2.6rem 1rem;
    cursor: pointer;
    z-index: 1;
    display: none; }
    .navbar .menu__icon-line {
      display: block;
      position: relative;
      background: #fff;
      height: .2rem;
      width: 2rem;
      border-radius: .4rem;
      transition: background .8s ease-in-out; }
      .navbar .menu__icon-line::before, .navbar .menu__icon-line::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: .4rem;
        background: #fff;
        transition: background .8s ease; }
      .navbar .menu__icon-line::before {
        transform: translateY(-0.5rem); }
      .navbar .menu__icon-line::after {
        transform: translateY(0.5rem); }
  .navbar .menu__btn {
    display: none; }
  .navbar.scrolled {
    height: 5.5rem;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .navbar.scrolled .menu__icon__line, .navbar.scrolled .menu__icon__line::before, .navbar.scrolled .menu__icon__line::after {
      background: #fff; }

@keyframes openTop {
  0% {
    transform: translateY(-5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes openMid {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes openBtm {
  0% {
    transform: translateY(5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes closedTop {
  0% {
    transform: translateY(-5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

@keyframes closedMid {
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(45deg); } }

@keyframes closedBtm {
  0% {
    transform: translateY(5px) rotate(0deg); }
  50% {
    transform: translateY(0px) rotate(0deg); }
  100% {
    transform: translateY(0px) rotate(90deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@media screen and (max-width: 768px) {
  .navbar .menu__icon {
    display: block; }
    .navbar .menu__icon-line {
      animation: closedMid .8s backwards;
      animation-direction: reverse; }
      .navbar .menu__icon-line::before {
        animation: closedTop .8s backwards;
        animation-direction: reverse; }
      .navbar .menu__icon-line::after {
        animation: closedBtm .8s backwards;
        animation-direction: reverse; }
  .navbar .nav__links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 3rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.95);
    transition: opacity .8s .2s, clip-path 1s .2s;
    clip-path: polygon(75% 0, 100% 0, 100% 25%, 75% 25%); }
    .navbar .nav__links--link {
      opacity: 0;
      transform: translateX(100%);
      width: 100%;
      text-align: center; }
      .navbar .nav__links--link a {
        display: block;
        padding: 2rem 0; }
  .navbar .menu__btn:checked ~ .nav__links {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    .navbar .menu__btn:checked ~ .nav__links .nav__links--link {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .navbar .menu__btn:checked ~ .nav__links .nav__links--link:nth-of-type(1) {
        transition-delay: .7s; }
      .navbar .menu__btn:checked ~ .nav__links .nav__links--link:nth-of-type(2) {
        transition-delay: .8s; }
      .navbar .menu__btn:checked ~ .nav__links .nav__links--link:nth-of-type(3) {
        transition-delay: .9s; }
      .navbar .menu__btn:checked ~ .nav__links .nav__links--link:nth-of-type(4) {
        transition-delay: 1s; }
  .navbar .menu__btn:checked ~ .menu__icon .menu__icon-line {
    animation: openMid .8s forwards; }
    .navbar .menu__btn:checked ~ .menu__icon .menu__icon-line::before {
      animation: openTop .8s forwards; }
    .navbar .menu__btn:checked ~ .menu__icon .menu__icon-line::after {
      animation: openBtm .8s forwards; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  text-transform: uppercase;
  font-weight: 300;
  color: #fff; }

.section-introduction {
  padding: 25rem 0;
  margin-top: -20vh; }
